/* Devansh Mistry 9000819 CSS */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #44476A;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 0;
  background-color: #e6e7ee;
  border-color: #D1D9E6;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
}

.root {
  width: 100%;
  height: max-content;
}

.app {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  align-content: center;
  row-gap: 2vh;
}

.board {
  width: 40vw;
  display: inline-grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  align-content: center;
  gap: 2vh;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  color: #44476A;
  background-color: #e6e7ee;
  border-color: #e6e7ee;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  cursor: pointer;
  border-radius: 0.55rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cell:hover {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}



.btn-bar {
  margin-top: 7vh;
  display: flex;
  justify-content: space-evenly;
}

.reset-button {
  display: inline-block;
  font-weight: 400;
  color: #31344b;
  text-align: center;
  vertical-align: middle;
  background-color: #e6e7ee;
  border: 0.0625rem solid transparent;
  border-color: #e6e7ee !important;
  padding: 0.55rem 0.95rem;
  font-size: 1rem;
  line-height: 1.5;
  max-width: fit-content;
  border-radius: 0.55rem;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  justify-self: center;
}

.reset-button:hover {
  color: #31344b;
  background-color: transparent;
  border-color: #c8cad9;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;
  cursor: pointer;
}

h1 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.3;
  color: #31344b;
}

.status {
  font-family: inherit;
  margin-bottom: 0.5rem;
  font-size: large;
  font-weight: bold;
  color: #31344b;
}

footer {
  display: block;
  width: 100%;
  margin-top: 6vh;
  padding: 1vh;
  font-weight: 400;
  background-color: #e6e7ee !important;
  text-align: center;
  justify-items: center;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;
}

.mr-icon {
  margin-right: 0.8dvw;
}